* {
    margin: 0;
    padding: 0;
}
$background: #d9d9d9;
$btn-border: 1px solid #000;
//header and footer style class
@mixin fixed-part($pos) {
    position: fixed;
    #{$pos}: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    background: $background;
    & span {
        line-height: 30px;
    }
}
//header
$height: 30px;
$btn-height: 20px;
@mixin header-btn($float-position) {
    float: #{$float-position};
    height: $btn-height;
    margin-top: 5px;
    margin-#{$float-position}: 20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: $btn-height;
    border: $btn-border;
    background: $background;
}
#header-list {
    @include fixed-part("top");
    #add-item {
        @include header-btn("right");
    }
}
#header-edit {
    @include fixed-part("top");
    display: none;
    #cancel-edit {
        @include header-btn("left");
    }
    #done-edit {
        @include header-btn("right");
    }
}
//main
$priority-background: #fbebeb;
$status-background: #f0fded;
@mixin pan() {
    display: flex;
    justify-content: space-around;
    width: 200px;
    background: #d9d9d9;
    & span {
        padding-left: 5px;
        padding-right: 5px;
        text-align: middle;
    }
}
#main-list {
    margin-top: 35px;
    margin-bottom: 35px;
    ul {
        margin-top: 5px;
        li {
            display: flex;
            width: auto;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 3px;
            .pan-left {
                @include pan();
                margin-left: -200px;
            }
            .prefix {
                width: 10%;
                padding-left: 5px;
            }
            p {
                width: 90%;
                padding-right: 5px;
            }
            .pan-right {
                @include pan();
                margin-right: -200px;
            }
        }
    }
}
.condition-container {
    display: flex;
    height: 30px;
    border-bottom: 1px solid #ccc;
    & div {
        flex: 1;
    }
}
#priority-container {
    @extend .condition-container;
    background: $priority-background;
    [data-filter-priority-selected=true] span {
        border: 1px solid #ff4f3e;
    }
}
#status-container {
    @extend .condition-container;
    background: $status-background;
    [data-filter-status-selected=true] span {
        border: 1px solid #ff4f3e;
    }
}
#main-edit {
    display: none;
    width: 100%;
    margin:35px 5px;
    textarea {
        width: 100%;
        margin: 5px;
        border: 1px solid #000;
        padding: 5px;
    }
}
#edit-priority-container,
#edit-status-container {
    @extend .condition-container;
    span {
        border: 1px solid #ccc;
    }
}
#edit-priority-container {
    [data-edit-priority-selected=true] span {
        border-color: #ff4f3e;
    }
}
#edit-status-container {
    [data-edit-status-selected=true] span {
        border-color: #ff4f3e;
    }
}
//footer
footer {
    @include fixed-part("bottom");
    display: flex;
    span {
        flex: 1;
    }
}
