<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <header>
            <span>logo</span>
            <nav>
                <span>menu</span>
                <span>menu</span>
                <span>menu</span>
            </nav>
        </header>
        <main>
            <div class="banner"></div>
            <div class="main">
                    <div class="thumbnails">
                        <div class="thumbnail">
                            <div class="thumbnail-cover">
                                <p class="thumbnail-title">标题标题标题</p>
                                <p class="thumbnail-text">正文正文正文正文正文</p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="thumbnail-cover">
                                <p class="thumbnail-title">标题标题标题</p>
                                <p class="thumbnail-text">正文正文正文正文正文</p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="thumbnail-cover">
                                <p class="thumbnail-title">标题标题标题</p>
                                <p class="thumbnail-text">正文正文正文正文正文</p>
                            </div>
                        </div>
                    </div>
                    <div id="sticked-article">
                        <p>标题标题标题</p>
                        <p>正文正文正文正文正文</p>
                    </div>
                    <div class="article-intros">
                        <div class="intro">
                            <img src="../image/1.jpg" alt="">
                            <div>
                                <p class="intro-title">标题标题标题</p>
                                <p class="intro-text">正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文</p>
                            </div>
                        </div>
                        <div class="intro">
                            <img src="../image/1.jpg" alt="">
                            <div>
                                <p class="intro-title">标题标题标题</p>
                                <p class="intro-text">正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文</p>
                            </div>
                        </div>
                        <div class="intro">
                            <img src="../image/1.jpg" alt="">
                            <div>
                                <p class="intro-title">标题标题标题</p>
                                <p class="intro-text">正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文</p>
                            </div>
                        </div>
                    </div>
                    <ul class="article-list">
                        <li>
                            <p class="list-title">标题标题标题标题标题标题</p>
                            <p class="release-time">40分钟前</p>
                        </li>
                        <li>
                            <p class="list-title">标题标题标题标题标题标题标题标题</p>
                            <p class="release-time">40分钟前</p>
                        </li>
                        <li>
                            <p class="list-title">标题标题标题标题标题标题</p>
                            <p class="release-time">40分钟前</p>
                        </li>
                        <li>
                            <p class="list-title">标题标题标题标题标题标题标题标题</p>
                            <p class="release-time">40分钟前</p>
                        </li>
                        <li>
                            <p class="list-title">标题标题标题标题标题标题</p>
                            <p class="release-time">40分钟前</p>
                        </li>
                        <li>
                            <p class="list-title">标题标题标题标题标题标题标题标题</p>
                            <p class="release-time">40分钟前</p>
                        </li>
                    </ul>
            </div>
        </main>
        <footer>
            &copy;  victorxpz
        </footer>
    </body>
</html>
