<!DOCTYPE html>
<html>
    <head lang="zh-CN">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="utf-8">
        <title>HELLO WORLD PRODUCT</title>
        <link rel="stylesheet" href="../css/mainstylus.css">
    </head>
    <body>
        <header>
            <img src="../image/chai.jpg" alt="公司logo" id="logo">
            <nav id="nav">
                <span>HOME</span>
                <span>
                    PRODUCT
                    <ul id="product-list">
                        <product-item v-for="product in products" v-bind:product="product"></product-item>
                    </ul>
                </span>
                <span>
                    SUPPORT
                    <ul id="support-list">
                        <support-item v-for="support in supports" v-bind:support="support"></support-item>
                    </ul>
                </span>
                <span>
                    ABOUT
                    <ul id="about-list">
                        <about-item v-for="about in abouts" v-bind:about="about"></about-item>
                    </ul>
                </span>
            </nav>
        </header>
        <div class="banner">
            <div class="banner-slogan">
                <span>HELLO</span>
                <span>WORLD</span>
                <span>PRODUCT</span>
            </div>
            <div class="banner-poster">

            </div>
        </div>
        <main>
            <div id="left-nav">
                <ul id="main-menu">
                </ul>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Content</th>
                        <th>Value</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </main>
        <div class="modal-cover">

        </div>
        <div class="modal" id="edit-modal">
            <form class="form">
                <label>
                    Name  <input type="text" name="" value="" id="input-name">
                </label>
                <label>
                    Content  <input type="text" name="" value="" id="input-content">
                </label>
                <label>
                    Value  <input type="text" name="" value="" id="input-value">
                </label>
                <div class="btn-group">
                    <button type="button" class="button" id="confirm-edit">确定</button>
                    <button type="button" class="button" id="cancel-edit">取消</button>
                </div>
            </form>
        </div>
        <div class="modal" id="delete-modal">
            <form class="form" id="delete-form">
                <span>确认删除<span id="del-row-id"></span></span>
                <div class="btn-group">
                    <button type="button" class="button" id="confirm-delete">确定</button>
                    <button type="button" class="button" id="cancel-delete">取消</button>
                </div>
            </form>
        </div>
        <!--引入js-->
        <script src="../../vue/vue.js" charset="utf-8"></script>
        <script src="../js/mainvue.js" charset="utf-8"></script>
        <script src="../js/data.js" charset="utf-8"></script>
        <script src="../js/main.js" charset="utf-8"></script>
    </body>
</html>
